<form #infosUser="ngForm" (ngSubmit)="modifInfosUser(infosUser.value)">
    <div class="card p-3">
        <div class="md-form">
            <label>Nom</label>
            <input name="lastNameUser" [(ngModel)]="authService.getUserConnect().lastNameUser" type="text"
                class="form-control">
        </div>
        <div class="md-form">
            <label>Prénom</label>
            <input name="firstNameUser" [(ngModel)]="authService.getUserConnect().firstNameUser" type="text"
                class="form-control">
        </div>
        <div class="md-form">
            <label>Date de naissance</label>
            <input name="birthDateUser" [(ngModel)]="authService.getUserConnect().birthDateUser" type="text"
                class="form-control">
        </div>
        <div class="md-form">
            <label>Pseudo</label>
            <input name="loginUser" [(ngModel)]="authService.getUserConnect().loginUser" type="text"
                class="form-control">
        </div>
        <div class="md-form">
            <label>Etes-vous coach ?</label>
            <br><br>
            <mat-slide-toggle name="coachUser" [(ngModel)]="isChecked"></mat-slide-toggle>
        </div>
        <div class="alert alert-danger text-center" *ngIf="errorMsg != ''">
            {{errorMsg}}
        </div>
        <div [class.toggled]="classToggled" >
            <div mat-dialog-actions style="background-color: white">
                <button type=" submit" class="btn btnPrincipal btn-block btn-sm">Modifier</button>
            </div>
        </div>

    </div>
</form>