<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-4">
            <div id="card_achat" class="card p-0 m-0" [class.toggled]="classToggled" style="background-color: transparent ; border: none; box-shadow: none;">
                <div class="container">
                    <div class="row">
                        <div *ngIf="visibleCoach" class="col-2">
                            <button id="feedbtn-true" mat-button (click)="showHideCoach()">
                                <p>Coachs</p>
                                <button mat-icon-button mat-icon-button>
                                    <i class="fas fa-user" style="color: rgb(255, 255, 255);"></i>
                                </button>
                            </button>
                        </div>
                        <div *ngIf="!visibleCoach" class="col-2">
                            <button id="feedbtn" mat-button (click)="showHideCoach()">
                                <p>Coachs</p>
                                <button mat-icon-button mat-icon-button>
                                    <i class="fas fa-user" style="color: rgb(255, 255, 255);"></i>
                                </button>
                            </button>
                        </div>
                        <div *ngIf="visibleAvatar" class="col-2">
                            <button id="feedbtn-true" mat-button (click)="showHideAvatar()">
                                <p>Avatar</p>
                                <button mat-icon-button mat-icon-button>
                                    <i class="fas fa-medal" style="color: rgb(255, 255, 255);"></i>
                                </button>
                            </button>
                        </div>
                        <div *ngIf="!visibleAvatar" class="col-2">
                            <button id="feedbtn" mat-button (click)="showHideAvatar()">
                                <p>Avatar</p>
                                <button mat-icon-button mat-icon-button>
                                    <i class="fas fa-medal" style="color: rgb(255, 255, 255);"></i>
                                </button>
                            </button>
                        </div>
                        <div *ngIf="visibleTokens" class="col-2">
                            <button id="feedbtn-true" mat-button (click)="showHideTokens()">
                                <p>Tokens</p>
                                <button mat-icon-button mat-icon-button>
                                    <i class="fas fa-euro-sign" style="color: rgb(255, 255, 255);"></i>
                                </button>
                            </button>
                        </div>
                        <div *ngIf="!visibleTokens" class="col-2">
                            <button id="feedbtn" mat-button (click)="showHideTokens()">
                                <p>Tokens</p>
                                <button mat-icon-button mat-icon-button>
                                    <i class="fas fa-euro-sign" style="color: rgb(255, 255, 255);"></i>
                                </button>
                            </button>
                        </div>
                        <div *ngIf="visibleAvatar" class="col-6"
                            style="background-color: transparent ; border: none; box-shadow: none;">
                            <form class='form-inline, alignement' (ngSubmit)="listAvatarDescription(avatar.value)">
                                <div class="input-group" [class.toggled]="classToggled"
                                    style="background-color: transparent ; border: none; box-shadow: none;">
                                    <input ngModel="" #avatar name="avatar" type='text' id='search'
                                        class="form-control search-form" placeholder="Rechercher...">
                                    <span class="input-group-btn" style="width:39px">
                                        <button id="search-this" type="submit" class="pull-right btn search-btn">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="visibleCoach" class="col-6"
                            style="background-color: transparent ; border: none; box-shadow: none;">
                            <form class='form-inline, alignement' #namesport="ngForm"
                                (ngSubmit)="listCoachsBySport(nameSportIn.value)">
                                <div class="input-group" [class.toggled]="classToggled"
                                    style="background-color: transparent ; border: none; box-shadow: none;">
                                    <input ngModel="" #nameSportIn name="nameSport" type='text' id='search'
                                        class="form-control search-form" placeholder="Rechercher...">
                                    <span class="input-group-btn" style="width:39px">
                                        <button id="search-this" type="submit" class="pull-right btn search-btn">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>

            </div>

            <div id="card_achat" class="card p-0 m-0" [class.toggled]="classToggled" style="background-color: transparent !important; box-shadow: none;">
                <!--Page coach-->
                <div *ngIf="visibleCoach" [class.toggled]="classToggled"  style="background-color: transparent !important;">
                        <div class="md-form anyClass" [class.toggled]="classToggled" id=card_coach>
                            <div class="card p-3 m-3" *ngFor="let c of coachs" [class.toggled]="classToggled" style="width: auto;">

                                <div class="container" [class.toggled]="classToggled">
                                    <div class="row">
                                        <div class="col-1">
                                            <img class="photo_profil image-rond image-rond-bg"
                                                src="{{c.imageUser.nameImage}}" alt="">
                                        </div>
                                        <div class="col-2" [class.toggled]="classToggled">
                                            <p>{{c.firstNameUser}} {{c.lastNameUser}}</p>
                                            <b>{{c.loginUser}}</b>
                                        </div>
                                        <div class="col-7" [class.toggled]="classToggled">
                                            <div class="row">
                                                <div class="col-3">
                                                    <button (click)="openProfilCoach(c)"
                                                        class="btn btnPrincipal btn-block btn-sm" type="submit">Voir
                                                        profil <i class="fas fa-user"
                                                            style="color: rgb(0, 0, 0);"></i></button>
                                                </div>
                                                <div class="col-1 m" [class.toggled]="classToggled">
                                                </div>
                                                <div class="col-3 " [class.toggled]="classToggled">
                                                    <button (click)="goToFriends()" type="submit"
                                                        class="btn btnPrincipal btn-block btn-sm">Contacter <i
                                                            class="fas fa-envelope"
                                                            style="color: rgb(0, 0, 0);"></i></button>
                                                </div>
                                                <div class="col-1 m" [class.toggled]="classToggled">
                                                </div>
                                                <div class="col-3 " [class.toggled]="classToggled">
                                                    <button (click)="openEchange(c)" type="submit"
                                                        class="btn btnPrincipal btn-block btn-sm">Payer <i
                                                            class="fas fa-exchange-alt"
                                                            style="color: rgb(0, 0, 0);"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                <!--Page Avatar-->
                <div *ngIf="visibleAvatar" [class.toggled]="classToggled"  style="background-color: transparent !important;">
                    <div [class.toggled]="classToggled" style="background-color: transparent !important;">
                        <div class="md-form" style="margin-left: 50px;"  style="background-color: transparent !important;">
                            <div class="row">
                                <div class="col-2" *ngFor="let a of avatars" [class.toggled]="classToggled"  style="background-color: transparent !important;">
                                    <div class="card p-3 m-1" [class.toggled]="classToggled">
                                        <div class="row justify-content-center">
                                            <img class="photo_profil image-rond image-rond-bg"
                                                src="{{a.imageProduit.nameImage}}" alt="">
                                        </div>
                                        <br>
                                        <div class="row" [class.toggled]="classToggled">
                                            <strong>Description :</strong>
                                            <p>{{a.descriptionProduit}}</p>
                                        </div>
                                        <div class="row" [class.toggled]="classToggled">
                                            <strong>Prix :</strong>
                                            <p>{{a.prixTokenProduit}} Token</p>
                                        </div>

                                        <div *ngIf="!verifAvatarAchete(a)" [class.toggled]="classToggled">
                                            <button style="width : 100%" (click)="achatProduit(a.idProduit)"
                                                id="valider" type="submit"
                                                class="btn btnPrincipal btn-block btn-sm">Acheter</button>

                                        </div>
                                        <div *ngIf="verifAvatarAchete(a)" [class.toggled]="classToggled">
                                            <i class="fas fa-check"></i>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <p [class.toggled]="classToggled" class="d-flex justify-content-center p-5"
                            *ngIf="msgErr !='' "> {{msgErr}}</p>


                        <div class="container" [class.toggled]="classToggled">
                            <div class="row">
                                <div class="col-5">

                                </div>

                                <div class="col-5">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>




                <!--Page Token-->
                <div *ngIf="visibleTokens" [class.toggled]="classToggled"  style="background-color: transparent !important;">

                    <div class=" card md-form" [class.toggled]="classToggled" >
                        <h3 class="alignement" style="font-weight: bold;">Tokens (1€ = 3 Tokens) :</h3>
                        <div class="container" [class.toggled]="classToggled">
                            <div class="row" [class.toggled]="classToggled">
                                <p class="col-2 p-2">Montant en tokens :</p>
                                <input [class.toggled]="classToggled" ngModel="" #transact type='number'
                                    id='transaction' class="form-control search-form col-3 p-2" placeholder="Token">
                                <p class="col-1"></p>
                                <p class="'col-2 p-2">Montant en euros (€) :</p>
                                <input [class.toggled]="classToggled" ngModel="" #transactEuro type='number'
                                    id='transaction' class="form-control search-form col-3 p-2" placeholder="€">
                            </div>
                        </div>
                        <div [class.toggled]="classToggled" class="d-flex justify-content-center p-5"
                            *ngIf="transaction==true">
                            <p>La transaction a bien été effectuée.</p>
                        </div>
                        <div [class.toggled]="classToggled" class="d-flex justify-content-center p-5"
                            *ngIf="transaction==false">
                            <p>La transaction refusée.</p>
                        </div>
                        <div style="display: block; margin: auto;" [class.toggled]="classToggled" class="col-2">
                            <button (click)="achatTokenEuro(transactEuro.value)" (click)="achatToken(transact.value)"
                                type="submit" class="btn btnPrincipal btn-block btn-sm">Acheter</button>
                        </div>

                    </div>
                </div>

            </div>



        </div>

    </div>
</div>